[Unit]
Description=Traffic Monitoring Dashboard Service
After=network.target

[Service]
User=theobias
WorkingDirectory=~/SwissSpeed/Part2
ExecStart= ~/test/test_env/bin/python3 ~/SwissSpeed/Part2/Main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target