[Unit]
Description=Traffic Monitoring Dashboard Service
After=network.target

[Service]
User=theobias
WorkingDirectory=/home/theobias/SwissSpeed/Part2
ExecStart= /home/theobias/test/test_env/bin/python3 /home/theobias/SwissSpeed/Part2/Main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target